<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--
    <bean class="com.timmax.realestate.repository.inmemory.InMemoryUserRepository" id="inmemoryUserRepository"/>

    <bean class="com.timmax.realestate.service.UserService" id="userService">
        <constructor-arg name="repository" ref="inmemoryUserRepository"/>
    </bean>

    <bean class="com.timmax.realestate.web.user.AdminRestController">
        <constructor-arg name="service" ref="userService"/>
    </bean>
-->
    <context:component-scan base-package="com.timmax.**.repository"/>

    <context:component-scan base-package="com.timmax.**.service"/>

    <context:component-scan base-package="com.timmax.**.web"/>

</beans>